{% include 'admin/header.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    Datos post
                </div>
                <div class="card-body">
                    <form action="/admin/post/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label for="txtNombre" class="form-label">Titulo:</label>
                          <input type="txt"
                            class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="escriba nombre libro">
                          
                        </div>
                        <div class="mb-3">
                            <label for="txtFecha" class="form-label">Fecha:</label>
                            <input type="text"
                              class="form-control" name="txtFecha" id="txtFecha" aria-describedby="helpId" placeholder="escriba fecha">
                          </div>
                        
                        <div class="mb-3">
                          <label for="txtDescripcion" class="form-label">Descripcion:</label>
                          <input type="text"
                            class="form-control" name="txtDescripcion" id="txtDescripcion" aria-describedby="helpId" placeholder="escriba descripcion"> 
                        </div>
                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input type="file"
                              class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen">
                          
                          </div>
                          <label for="txtContenido">Contenido:</label>
                          <textarea name="txtContenido" id="txtContenido"></textarea>
                        <button type="submit" class="btn btn-primary">Subir</button>
                        
                    </form>
                </div>
                <div class="card-footer text-muted">
                   
                </div>
            </div>
            
        </div>
        <div class="col-md-5">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in npost %}
                        <tr >
                            <td scope="row">{{ post[0] }}</td>
                            <td>{{ post[1] }}</td>
                            <td> 
                               <img width="60" src="/img/{{post[4]}}" class="img-fluid rounded-top" alt="">
                               {{post[4]}}
                            </td>

                            <td>
                                <form action="/admin/post/delete" method="post">
                                    <input value= {{ post[0] }} type="hidden" name="txtID" id="txtID">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            
        </div>
        
    </div>
</div>



{% include 'admin/footer.html' %}
